
  .login-container {
    width: 35%;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto ; 
    margin-top: 9rem;

  }
  .titleLogin{
    color:rgb(179, 182, 0);
    text-align: center;
    font-family: 'Georgia, serif' ;
  }
  .error-message{
    color:red
  }